/* Here is our CSS file. Use this to style the basic web design.
If you have something specific to your page (like an album art 
cover or something other pages don't have), the please create 
your own style.css file in your folder. Thanks! */

/* GENERIC STYLES (For elements like buttons, text, fonts, etc) */
@font-face {
    font-family: 'lstkclarendonregular';
    src: url('rusticserif-webfont.woff2') format('woff2'),
         url('rusticserif-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.gen-button {
    padding: 15px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2398e0+0,1e739e+100 */
    background: #2398e0; /* Old browsers */
    background: -moz-linear-gradient(top, #2398e0 0%, #1e739e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #2398e0 0%,#1e739e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #2398e0 0%,#1e739e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2398e0', endColorstr='#1e739e',GradientType=0 ); /* IE6-9 */
    border-radius: 4px;
    color: white;
    display: block;
    width: fit-content;
    text-decoration: none;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
    transition: 0.3s;
    text-align: center;
}
.gen-button:hover {
    box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
    filter: brightness(1.2);
}
.gen-button:active {
    transition: 0.1s;
    filter: brightness(0.8);
}



html {
	min-height: 100%;
}

body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}
.header {
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0,0.7);
    left: 0;
    top: 0;
    right: 0;
    padding: 0;
    height: 4em;
    backdrop-filter: blur(10px);
}
.h-logo {
    height: 70%;
}
.h-logo-wrapper {
    height: 100%;
	display: block;
    width: fit-content;
    padding-left: 0.5em;
    margin: 0;
    display: flex;
    align-items: center;
}
.h-link {
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    /*text-transform: uppercase;*/
    font-weight: 100;
    border-right: 1px solid rgba(255,255,255,0.15);
    font-family: lstkclarendonregular;
    font-size: 1.4em;
}
.h-links {
    margin-left: auto;
    height: 100%;
}
.h-hamburger {
    margin-left: auto;
    height: 100%;
}
.h-mobile-menu-wrapper {
    background-color: orange;
    position: absolute;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    top: 100%;
    overflow: hidden;
    transition: 0.3s;
}
.h-mobile-menu { /* We'll override this with JS when the user clicks the hamburger */
    display: none;
}
.h-m-link {
    color: white;
    display: block;
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: lstkclarendonregular;
    font-size: 1.5em;
}
}
.content {

}
.content-wrapper {
    margin: 0;
}
.c-splash {
    width: 100%;
    height: 40em;
    max-height: 100vh;
    background-color: red;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.c-s-header {
    color: #efefef;
    font-size: 4em;
    text-align: center;
    margin: 0;
    font-family: lstkclarendonregular;
}
.c-s-tagline {
    color: white;
    text-align: center;
    padding: 0px 1em;
}
.c-s-button {
    margin: 0 auto;
    width: fit-content;
    display: table;
}

.splash-image-home {
    	background: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.3)), url(../images/rapper.jpg);
    	background-size: cover;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
  	-o-background-size: cover;
	background-position: top center;
}
.splash-image-tour {
    /* background declarations, etc */
	background: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.3)), url(../images/train.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: bottom center;
}

.splash-image-about {
    /* background declarations, etc */
	background: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.3)), url(../images/html_code.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position:center right;
}

.splash-image-blog {
	background: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.3)), url(../images/dj_mixer.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position:center;
}

.splash-image-biography {
	background: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.3)), url(../images/microphone.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position:center;
}

.splash-image-shop {
	background: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.3)), url(../images/records.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position:center;
}
.c-tourlist {
    list-style-type: none;
    list-style-position: inside;
    margin-left: 0;
}
.c-t-item {
    margin: 1em;
    padding: 1em;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
    border-radius: 4px;
}
.c-t-i-title {
    font-size: 1.5em;
}
.c-t-i-date {
    font-style: italic;
}
.c-t-i-marker {
	
}
.c-t-i-m-image {
	vertical-align: baseline;
	height: 1.2em;
	vertical-align: middle;
	margin-left: 0.1em;
}

.c-t-tile {
    width: 30%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 1px 10px 2px rgba(0,0,0,0.2);
    margin-bottom: 2em;
    display:inline-block;
    margin-left: 1em;
}

img.c-t-t-image {
    width: 100%;
}

.c-t-t-header {
    font-size: 1.5em;
    padding: 5px 10px;
    font-family: lstkclarendonregular;
}

.c-t-t-content {
    padding: 5px 10px;
}

a.c-t-t-amazonlink {
    display: block;
    width: 100px;
    margin-left: 10px;
    margin-bottom: 10px;
}

img.c-t-t-a-image {
    width: 100%;
}

.c-text-block {
	margin: 2em;
}
.c-text-block h1 {
	font-family: lstkclarendonregular;
}
.c-shop-container {
    margin: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.c-blog-post {
    width: 100%;
    display: flex;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
    border-radius: 4px;
    overflow:hidden;
}
.c-b-author {
    border-right: 1px solid rgba(0,0,0,0.2);
    width: 30%;
    flex-basis: 30%;
}
.c-b-content {
    flex-basis: 70%;
    padding: 2em;
}
.c-b-content h1 {
	margin: 0;
	margin-bottom: 0.5em;
}
.c-b-c-comments {
    border-top: 1px solid rgba(0,0,0,0.2);
    margin-top: 0.5em;
    padding-top: 0.5em;
}
.c-b-c-c-intro {
    font-size: 0.8em;
    color: rgba(0,0,0,0.6);
}
textarea.c-b-c-c-textarea {
    width: 100%;
    height: 4em;
    font-family: sans-serif;
}
.c-b-a-icon {
	width: 50%;
	margin: 0 auto;
	margin-top: 2em;
	margin-bottom: 1em;
	background-color: white;
	display: block;
	box-shadow: 0 3px 10px rgba(0,0,0,0.3);
	border-radius: 3px;
}
.c-b-a-name {
	width: 100%;
	text-align: center;
	font-weight: 600;
}
.c-b-a-rank {
	width: 100%;
	text-align: center;
	margin-top: 0.5em;
	font-style: italic;
}

.c-musicservices {
	background-color:black;
	display: flex;
	align-items:center;
	justify-content:center;
	padding: 2em 0;
}
.c-m-item {
	width: 5em;
	margin: 0 1em;
	display: block;
}
.c-m-i-image {
	width: 100%;
}
.c-youtube {
	width: 100%;
	min-height: 50%;
	max-height: 100%;
	height: 30em;
}
.c-y-embed {
	width: 100%;
	height: 100%;
	border: none;
}
.fakemouse {
    position: fixed;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    z-index: 5;
    pointer-events: none;
    visibility: hidden;
}
.f-cursor {
    width: 40px;
}
/* DESKTOP SITE DECLARATIONS */
@media (min-width: 700px) { /* Targets devices with a width >= 1000px */
    .h-hamburger {
        display: none;
    }
    .h-mobile-menu-wrapper {
        display: none;
    }
}

/* MOBILE SITE DECLARATIONS */
@media (max-width: 700px) { /* Targets devices with a width <= 1000px */
    .h-links {
        display: none;
    }
	.c-text-block {
		margin: 2em 1em 1em 1em;
	}
	.c-t-tile {
		width:90%;
		margin-left:5%;
		margin-right:5%;
	}
	.c-blog-post {
	    width: 100%;
	    display: block;
	    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
	    border-radius: 4px;
	}
	.c-b-author {
	    border-right: none;
	    width: 100%;
	    /* display: grid; */
	    height: 30%;
	    display: grid;
	    grid-template-columns: 5em auto;
	    grid-template-rows: 2.5em 2.5em;
	    grid-template-areas: "logo author_name" "logo author_title";
	    border-bottom: 1px solid rgba(0,0,0,0.2);
	}
	.c-b-a-icon {
	    height: 5em;
	    width: 5em;
	    margin: 0;
	    background-color: white;
	    display: block;
	    box-shadow: none;
	    /* border: 1px solid green; */
	    border-radius: 0px;
	    grid-area: logo;
	}
	.c-b-a-name {
	    width: 100%;
	    text-align: left;
	    font-weight: 600;
	    grid-area: author_name;
	    display: flex;
	    align-items: flex-end;
	    padding-left: 0.7em;
	}
	.c-b-a-rank {
	    width: 100%;
	    text-align: left;
	    margin-top: 0.2em;
	    font-style: italic;
	    grid-area: author_title;
	    padding-left: 0.7em;
	    display: flex;
	    align-items: flex-start;
	}
	.c-b-content {
	    padding: 2em;
	}
}
